*{
    margin:0px;
    padding:0px;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif 
}


header{
    display: flex;
    background-color:peachpuff;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}
.myntra_home{
    height: 45px;
   
}
.logo_container{
margin-left: 4%;
}
.Action_Bar{
    
}